**Exercise: Measures of central tendency, variation, and outliers.**

exercise 1

In [6]:
import pandas as pd

data = [1,2,3,4,5,6,7,8,9,10]

df = pd.Series(data)

mean = df.mean()
variance = df.var(ddof=0)
standard_dev = df.std(ddof=0)
lowerbound = mean - 2 * standard_dev
upperbound = mean = 2 * standard_dev
outliersCheck = [x for x in data if x < lowerbound or x > upperbound]
print('mean: ',mean, 'variance: ', variance, 'standard_dev: ', standard_dev)
print('Outliers: ', outliersCheck)

mean:  5.744562646538029 variance:  8.25 standard_dev:  2.8722813232690143
Outliers:  [6, 7, 8, 9, 10]

exercise 2

In [27]:
data_scores = [10,22,11,14,15,18,19,20,25,28,15,14,15]
df_scores = pd.Series(data_scores)
mean = df_scores.mean()
mode = df_scores.mode()
median = df_scores.median()
print( 'mean:', mean, 'mode:', mode2, 'median: ', median)

mean: 17.384615384615383 mode: 0    15
dtype: int64 median:  15.0

exercise 3

In [28]:
import numpy as np

In [31]:
df = pd.read_csv('data/investment_performance.csv')
df.describe()

       Control Scores  Experimental Scores
count       50.000000            50.000000
mean        78.087517            85.319055
std          9.571455            11.057700
min         61.135907            66.153945
25%         70.463365            76.292904
50%         77.386154            84.371715
75%         86.041261            93.784759
max         95.359162           110.625783