In [1]:
import pandas as pd

In [7]:
data = pd.read_csv('iris_dataset.csv')

In [8]:
data

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

Par1 created a notebook

**Part 2 Display Hello World**

In [15]:
print('Hello World!')

Hello World!

**Part 3.1 Display a message using variable**

In [16]:
username='Bob'

In [17]:
age=32

In [18]:
print(username,'is',age,'years old')

Bob is 32 years old

In [19]:
print(username + ' is ' + age + ' years old')

TypeError: can only concatenate str (not "int") to str

**Part 3.2 - Get user input**

In [23]:
username=input('Please enter your name')
age=input('Please enter your age')
print(username,'is',age,'years')

Please enter your nameRAFEE
Please enter your age27
RAFEE is 27 years

In [24]:
username=input('Please enter your name')
age=input('Please enter your age')
print(username+'is'+age+'years')

Please enter your namea
Please enter your ageb
aisbyears

In [26]:
username='john'
age=5
print(username+'is'+age+'years')

TypeError: can only concatenate str (not "int") to str

**Part 4 - Arithmetic operations**

In [30]:
crayonBox = 50
numberOfChildren = 6
crayonsPerChild = crayonBox // numberOfChildren
print(crayonsPerChild)

8

**Part 5 - Casting variables**

In [35]:
length1 = input('input the first length of your rectangle')
length1 = int(length1)
lenght2 = input('input the second length of your rectangle')
length2 = int(lenght2)
Perimeter = (length1*2)+(length2*2)
print(perimeter)

input the first length of your rectangle2
input the second length of your rectangle2
8

In [33]:
length1 = int(input('input the first length of your rectangle'))
lenght2 = int(input('input the second length of your rectangle'))
perimeter = (length1*2)+(lenght2*2)
print(perimeter)

input the first length of your rectangle2
input the second length of your rectangle2
8