### Predict cycles per day per station

In [9]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

df = pd.read_csv('Data/final_merged_hire_weather_station.csv')

C:\Users\Admin\AppData\Local\Temp\ipykernel_5056\1159861193.py:5: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Data/final_merged_hire_weather_station.csv')

In [10]:
df.head()

,trip_id,bikeid,tripduration,from_station_id,to_station_id,start_date,start_time,stop_date,stop_time,station_id,...,current_dockcount,date,max_temperature_f,mean_temperature_f,min_temperaturef,max_wind_speed_mph,mean_wind_speed_mph,max_gust_speed_mph,precipitation_in,events
0,431,SEA00298,985.935,CBD-06,PS-04,2014-10-13,1900-01-01 10:31:00,2014-10-13,1900-01-01 10:48:00,CBD-06,...,18,2014-10-13,71,62.0,54,13,4,21,0.0,Rain
1,432,SEA00195,926.375,CBD-06,PS-04,2014-10-13,1900-01-01 10:32:00,2014-10-13,1900-01-01 10:48:00,CBD-06,...,18,2014-10-13,71,62.0,54,13,4,21,0.0,Rain
2,433,SEA00486,883.831,CBD-06,PS-04,2014-10-13,1900-01-01 10:33:00,2014-10-13,1900-01-01 10:48:00,CBD-06,...,18,2014-10-13,71,62.0,54,13,4,21,0.0,Rain
3,434,SEA00333,865.937,CBD-06,PS-04,2014-10-13,1900-01-01 10:34:00,2014-10-13,1900-01-01 10:48:00,CBD-06,...,18,2014-10-13,71,62.0,54,13,4,21,0.0,Rain
4,435,SEA00202,923.923,CBD-06,PS-04,2014-10-13,1900-01-01 10:34:00,2014-10-13,1900-01-01 10:49:00,CBD-06,...,18,2014-10-13,71,62.0,54,13,4,21,0.0,Rain

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228812 entries, 0 to 228811
Data columns (total 24 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   trip_id              228812 non-null  int64
 1   bikeid               228812 non-null  object
 2   tripduration         228812 non-null  float64
 3   from_station_id      228812 non-null  object
 4   to_station_id        228812 non-null  object
 5   start_date           228812 non-null  object
 6   start_time           228812 non-null  object
 7   stop_date            228812 non-null  object
 8   stop_time            228812 non-null  object
 9   station_id           228812 non-null  object
 10  name                 228812 non-null  object
 11  lat                  228812 non-null  float64
 12  long                 228812 non-null  float64
 13  install_date         228812 non-null  object
 14  current_dockcount    228812 non-null  int64
 15  date                 228812 non-null  object
 16  max_temperature_f    228812 non-null  int64
 17  mean_temperature_f   228705 non-null  float64
 18  min_temperaturef     228812 non-null  int64
 19  max_wind_speed_mph   228812 non-null  int64
 20  mean_wind_speed_mph  228812 non-null  int64
 21  max_gust_speed_mph   173613 non-null  object
 22  precipitation_in     228812 non-null  float64
 23  events               82794 non-null   object
dtypes: float64(5), int64(6), object(13)
memory usage: 41.9+ MB

In [ ]:
# Step a: Handle missing values
# df.fillna(value=0, inplace=True)  # Replace NaN with 0 (you might choose a different strategy)

# Step b: Feature selection
selected_features = ['max_temperature_f', 'mean_temperature_f', 'max_wind_speed_mph', 'precipitation_in']

# Step c: Convert categorical variables (if any)
df = pd.get_dummies(df, columns=['events'], drop_first=True)

# Step d: Split data into features (X) and target variable (y)
X = df[selected_features]
y = df['your_target_column']  # Replace 'your_target_column' with the actual column name you want to predict

# Step e: Split into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Step e (continued): Feature scaling
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)